$size-base: 8px;
$content-size: 1024px;

.index {
    &-container {
        width: 100%;
    }

    &-ad {
        display: flex;
        flex-direction: column;
        width: $content-size;
        margin: auto;
    }

    &-short-ad {
        display: flex;
    }

    &-shortest-ad {
        display: flex;
    }

    &-left-ad {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: $size-base*10;
        left: $size-base*3;
    }

    &-right-ad {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: $size-base*10;
        right: $size-base*3;
    }
}

.sites {
    display: flex;
    flex-direction: column;
    width: $content-size;
    margin: $size-base*3 auto 0 auto;

    &-unit {
        &-title {
            width: 160px;
            color: white;
            background-color: #337ab7;
            -moz-box-shadow: 4px 4px 7px #888888; /* 老的 Firefox */
            box-shadow: 4px 4px 7px #888888;
            font-size: 24px;
            text-align: center;
            margin-bottom: 1px;
        }
        &-board-row {
            padding: $size-base 0;
            display: flex;
            &-item {
                width: 16.6%;
                overflow: hidden;
                color: #333;
                & a {
                    color: #333;
                    &:hover {
                        color: #2a6496;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}