$size-base: 8px;
$link-color: #4285f4;

.management {
    &-btn {
        position: absolute;
        top: 20%;
        right: $size-base * 3;
    }
    &-menu {
        width: $size-base * 35;
        position: fixed;
        top: $size-base * 20;
        left: $size-base * 3;
        &-item {
            &:hover {
                color: $link-color;
                cursor: pointer;
            }
        }
    }

    &-content {
        width: $size-base * 128;
        margin: $size-base*10 auto auto auto;
    }
}